
<% if song.selections.empty? %>
<h4><%= song.title %> hasn't been added to any playlists yet!</h4>
<% else %>
<h3>Users who added <%= song.artist %> - <%= song.title %></h3>
<table class="table table-hover table-bordered results myTable">
  <thead>
    <tr>
      <th>Name</th>
      <th>Times Added</th>
    </tr>
  </thead>
  <tbody>
    <% songs.each do |selection| %>
        <tr>
          <td><a href="/users/<%= selection.id %>"></a></td>
          <td><%= selection.users.sum(:count) %></td>
        </tr>
    <% end %>
    </tbody>
</table>
<% end %>
