<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Playlist" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Playlist" %>">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => 'reload' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <% if session[:user_id] %>
      <%= render 'layouts/navigation' %>
    <% end %>
    <main role="main">
      <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %>"><%= value %></div>
      <% end %>

       <%= yield %>
    </main>
  </body>
</html>
